# Unit 6.변수(variable)

In [93]:
my_height = 174.5 #snake 표기법
myWeight = 72 #camel 표기법

In [94]:
한글변수 = 6 #한글변수명이 가능하나 잘 안쓰임

In [95]:
x=10
x,y,z=10,20,30 #tuple unpacking

In [96]:
# 기존 언어에서 2개의 값을 바꾸는 방법
temp = x
x=y
y=x

In [97]:
#파이썬
x=10; y=20
x, y = y, x
x, y

(20, 10)

In [98]:
#값이 없는 변수
x = None

### 6.2 변수 계산

In [99]:
a, b = 10, 20
c= a+b
a, b, c

(10, 20, 30)

In [100]:
# 변수 a의 값을 20 증가
a=a+20
a

30

In [101]:
a+=20 #a = a + 20
a

50

In [102]:
# 1에서 100까지 합 구하기
sum1 = 0
for i in range(1, 101):
    sum1 += i
print(sum1)

5050

In [103]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

### 6.3입력(input)

In [104]:
x = input()
x, type(x) #input은 항상 문자열을 받는다!

('10', str)

In [105]:
number = int(input('정수를 입력하세요 > '))#정수형으로 형변환
number, type(number)

(20, int)

In [106]:
a = int(input("첫번째 숫자를 입력하세요 : "))
b = int(input("두번째 숫자를 입력하세요 : "))
print(a+b)
a = input("첫번째 숫자를 입력하세요 : ")
b = input("두번째 숫자를 입력하세요 : ")
print(a+b)#문자열에서 +는 문자열 연결입니다.

30
1011

### 6.4 입력값 두개 받기

In [107]:
#스트링 split() method
'10 20'.split() #공백으로 분리하여 두개의 문자열이 리스트로 반환

['10', '20']

In [108]:
a, b = '10 20'.split()
a, b

('10', '20')

In [114]:
a, b = input('두개의 숫자를 입력하세요.').split()
a, b
#int(a) + int(b)

('10', '20')

In [ ]:
# map
list(map(int, ['10', '20'])) #int('10') int("20") --> [10, 20] --- 리스트 각각의 원소에 대해서 int(함수)를 적용해라

[10, 20]

In [ ]:
a, b = map(int, input('두개의 숫자를 입력하세요').split())
a, b, a+b

(10, 20, 30)

In [ ]:
#숫자 3개를 ,로 분리하여 입력으로 받아 합계를 구하시오
a, b, c = map(int, input('숫자 3개를 ,를 사용하여 입력하시오').split(','))
a+b+c

60

In [1]:
#숫자 N개를 받아서 합계와 평균을 구하는 방법
numbers = list(map(int, input('숫자 n개를 입력하시오').split()))
numbers

[10, 20, 30]

In [2]:
sum(numbers), sum(numbers)/len(numbers)

(60, 20.0)