### Unit 25. 딕셔너리
#### 25.1 딕셔너리 조작

In [4]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.setdefault('e')#값을 주지 않고 키값만, 그러나 잘 안쓰임
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [5]:
x['f']=None
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': None}

In [6]:
#키값이 있을때 값을 변경해준다.
x['a']=0
x

{'a': 0, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': None}

In [9]:
#삭제 pop
#x.pop() 금지!!
x.pop('f') #dictiony는 순서가 없고 키값으로 판별하기 때문에 무조건 키값을 입력해주어야 한다.
x

{'a': 0, 'b': 20, 'c': 30, 'd': 40}

In [11]:
x.pop('f', 0)#키값이 없으면 0을 리턴한다

0

In [15]:
del x['c']#del 하는 방법도 있다.

In [16]:
x.popitem()#순서가 없기 때문에 아무거나 하나 삭제한다..

('d', 40)

In [17]:
# 키, 값, 키-값 가져오기
x

{'a': 0, 'b': 20}

In [18]:
x.keys()

dict_keys(['a', 'b'])

In [19]:
x.values()

dict_values([0, 20])

In [20]:
x.items()

dict_items([('a', 0), ('b', 20)])

In [22]:
list_a = (1,2,3,4)
list_b = (1,2,3,4)
d = dict(zip(list_a,list_b))
d

{1: 1, 2: 2, 3: 3, 4: 4}

In [23]:
for k in x.keys():
    print(k, x[k])

a 0
b 20

In [24]:
for k, v in x.items():#제일 많이 사용되는 방법
    print(k, v)

a 0
b 20

#### 25.3 표현식

In [25]:
x = {'a':10, 'b':20, 'c':30, 'd':40}

In [26]:
#값이 제곱한 값을 갖도록
y = {}
for key, value in x.items():
    y[key] = value*value
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [28]:
y ={k: v for k, v in x.items()}
y

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [30]:
y = {key:value*value for key, value in x.items() if value % 20 == 0}
y

{'b': 400, 'd': 1600}

In [31]:
x = {'국어': [80,70,60],'수학': [80,70,60],'과학': [80,70,60]}
x

{'국어': [80, 70, 60], '수학': [80, 70, 60], '과학': [80, 70, 60]}

In [32]:
import pandas as pd
df = pd.DataFrame(x)
df

   국어  수학  과학
0  80  80  80
1  70  70  70
2  60  60  60

In [33]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [34]:
terrestrial_planet['Earth']['mass']

5.97219e+24